<div class="page-content">
    <ol class="breadcrumb">
        <li>
            <h5 style="color:black;font-size: 15px;font-weight: 700;">Unauthorized</h5>
        </li>
    </ol>
    <div class="container-fluid">
        <div class="row">
            <div class="info-tile tile-orange" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
                    {{params.toString() === '1' ? 'You are not Authorized to access this site due to UGP mapping does not exist. Please contact
                    Ahead portal support team.' : 'Your User to Group Lead mapping do not exist. Please contact IT Team'}}
            </div>
        </div>
    </div>
</div>