<!-- navbar started -->
<header id="topnav" class="navbar navbar-fixed-top navbar-indigo" role="banner">

  <div class="logo-area">
    <span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg">
      <a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
        <span class="icon-bg">
          <i class="fa fa-bars"></i>
        </span>
      </a>
    </span>
      <img src="/assets/evolent.png" alt="logo" class="logo-default">
  </div>

  <!-- Logged in user options -->
  <ul class="nav navbar-nav toolbar pull-right">
    <li class="dropdown toolbar-icon-bg">
      <a href="#" class="dropdown-toggle username" data-toggle="dropdown" aria-expanded="false" style="color:white !important">
        <i class="fa fa-user"></i> Joe Root
        <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu userinfo arrow">
        <li>
          <a>
            <i class="fa fa-user-circle fa-fw"></i> About Me</a>
        </li>
        <li class="divider"></li>
        <li>
          <a>
            <i class="fa fa-sign-out fa-fw"></i> Logout</a>
        </li>
      </ul>
    </li>
  </ul>

</header>
<!-- navbar ended -->

<!-- siddebar Started -->
<div id="wrapper">
  <div id="layout-static">
    <div class="static-sidebar-wrapper sidebar-black">
      <div class="static-sidebar" style="top: 56px;">
        <div class="sidebar" tabindex="0">
          <div class="widget">
            <div class="widget-body">
              <div class="userinfo">
                <div class="info">
                  <span class="username">Joe Root</span><br>
                  <span class="useremail">joe.root@evolentheath.com</span>
                </div>
              </div>
            </div>
          </div>
          <div class="widget stay-on-collapse" id="widget-sidebar">
            <nav role="navigation" class="widget-body">
              <ul class="acc-menu">
                <li class="nav-separator">
                  <span>Explore</span>
                </li>
                <li routerLink="/contact-list" routerLinkActive="active">
                  <a>
                    <i class="fa fa-address-book"></i>
                    <span>Contact List</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="scroll-track" style="display: none;">
          <div class="scroll-thumb" style="height: 697px; transform: translate(0px, 0px);"></div>
        </div>
      </div>
    </div>
    <div class="static-content-wrapper">
      <div class="static-content">
        <p-growl [value]="msgs" [life]="5000"></p-growl>
        <router-outlet></router-outlet>
      </div>
      <footer role="contentinfo">
        <div class="clearfix">
          <ul class="list-unstyled list-inline pull-left">
            <li>
              <h6 style="margin: 0;">Evolent Health (Browser Compatibility : Chrome > v50.0 , IE > v10.0)</h6>
            </li>
          </ul>
          <button class="pull-right btn btn-link btn-xs hidden-print" id="back-to-top">
            <i class="fa fa-arrow-up"></i>
          </button>
        </div>
      </footer>
    </div>
  </div>
  <story-spinner></story-spinner>
</div>