<!-- style="background:#e0e0e0 !important;" -->
<div class="side-form" style="background:#e0e0e0 !important;">
    <div class="row" style="margin-top:30px;">
        <div class="col-md-8 col-sm-8 col-lg-8" style="padding-left: 5px;padding-right: 5px;">
            <div class="panel panel-midnightblue" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
                <div class="panel-heading">
                    GL Approval
                </div>
                <div class="panel-body">
                    <!-- for vendor comunication -->
                    <form *ngIf="show">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <label for="name">
                                        <strong>VCID :</strong> {{vendorCommunicationData ? vendorCommunicationData.Title : ''}}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <label for="name">
                                        <strong>Item ID :</strong> {{vendorCommunicationData ? vendorCommunicationData.ItemID : ''}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <label for="name">
                                        <strong>Item Description :</strong> {{vendorCommunicationData ? vendorCommunicationData.ItemDescription
                                        : ''}}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <label for="name">
                                        <strong>Category :</strong> {{vendorCommunicationData ? vendorCommunicationData.Category
                                        : ''}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <label for="name">
                                        <strong>Brand :</strong> {{vendorCommunicationData ? vendorCommunicationData.Brand : ''}}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <label for="name">
                                        <strong>Project :</strong> {{vendorCommunicationData ? vendorCommunicationData.Project :
                                        ''}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <label for="name">
                                        <strong>Requirement :</strong> {{vendorCommunicationData ? vendorCommunicationData.Requirement
                                        : ''}}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <label for="name">
                                        <strong>System :</strong> {{vendorCommunicationData ? vendorCommunicationData.System : ''}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <div class="form-group">
                                    <label for="name">
                                        <strong>Description on data supplied :</strong> {{vendorCommunicationData ? vendorCommunicationData.DescriptionOnData
                                        : ''}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <label for="name">
                                        <strong>Created By :</strong> {{vendorCommunicationData ? (vendorCommunicationData.CreatedBy1
                                        ? vendorCommunicationData.CreatedBy1 : vendorCommunicationData.CreatedBy.Name) :
                                        ''}}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <label for="name">
                                        <strong>Created On :</strong> {{vendorCommunicationData.Created | date : 'dd-MM-yyyy'}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="vendorCommunicationData.VendorCommunication === 'Notice'">
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <label for="name">
                                        <strong>Vendor :</strong> {{vendorCommunicationData ? vendorCommunicationData.Vendor : ''}}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <label for="name">
                                        <strong>Vendor Name(s) :</strong>
                                        <span>
                                            {{vendors ? vendors : ''}}
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <label for="name">
                                        <strong>Attachment(s) :</strong>
                                        <ul>
                                            <li *ngFor="let data of vendorCommunicationData.AttachmentFiles">
                                                <a (click)="downloadFile(data)" title="{{data ? data.FileName : 'download'}}">
                                                    <i class="fa fa-paperclip" aria-hidden="true"></i> {{data ? data.FileName : 'download'}}</a>
                                            </li>
                                        </ul>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <div class="form-group">
                                    <label for="name">
                                        <strong>GL Comments:</strong>
                                        <span class="required">*</span>
                                    </label>
                                    <textarea class="form-control" maxlength="1500" placeholder="GL Comments" name="cooment" pTooltip="GL Comments" tooltipPosition="top" [(ngModel)]="vendorCommunicationData.GLComments"></textarea>
                                    <div class="required" *ngIf="showError">
                                        Please enter GL Comments
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="isApproved">
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <label for="name" style="color:red;">
                                        You have already taken action on this request.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <div class="form-group">
                                    <a class="btn btn-success" (click)="onApprove()" *ngIf="!isApproved">Approve</a>
                                    <a class="btn btn-danger" (click)="onReject()" *ngIf="!isApproved">Reject</a>
                                    <a class="btn btn-danger" (click)="onBack()">close</a>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <!-- Discussion board -->
        <div class="col-md-4 col-sm-4 col-lg-4" style="padding-left: 5px;padding-right: 5px;">
            <app-discussion-details [vdid]="vdID" *ngIf="vdID !== ''"></app-discussion-details>
        </div>
    </div>
</div>