<div class="page-content">
        <div class="container-fluid">
          <!-- colosol -->
          <div class="row">
            <div class="alert alert-info">
              <h3>Bajaj Auto</h3>
              <p>Present in over 70 nations, Bajaj Auto is the world’s 3rd largest manufacturer of motorcycles and the largest manufacturer
                of three-wheelers. No wonder, we're known as the 'World’s Favourite Indian'</p>
            </div>
            <div class="col-md-12" style="position: absolute;z-index: 1;margin-top: 100px;">
              <div class="panel panel-transparent" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
                <div class="panel-body">
                  <div id="carousel-example-captions" class="carousel slide">
                    <ol class="carousel-indicators">
                      <li data-target="#carousel-example-captions" data-slide-to="0" class=""></li>
                      <li data-target="#carousel-example-captions" data-slide-to="1" class=""></li>
                      <li data-target="#carousel-example-captions" data-slide-to="2" class="active"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="item">
                        <img class="corousel-image" src="{{Image1}}">
                        <!-- <div class="carousel-caption">
                          <h3>First slide label</h3>
                          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                        </div> -->
                      </div>
                      <div class="item">
                        <img class="corousel-image" src="{{Image2}}">
                        <!-- <div class="carousel-caption">
                          <h3>Second slide label</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div> -->
                      </div>
                      <div class="item active">
                        <img class="corousel-image" src="{{Image3}}">
                        <!-- <div class="carousel-caption">
                          <h3>Third slide label</h3>
                          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                        </div> -->
                      </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
                      <i class="fa fa-prev icon-prev"></i>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
                      <i class="fa fa-next icon-next"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>