
@media screen and (max-width: 527px){
  html {
    font-size: 12px;
  }
}
body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.is-loading {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3c3c3c;
  font-size: 12px;
}

.loading-dot {
  animation: loophide 1.2s infinite ease-in-out;
}
.loading-dot:nth-child(2) {
  animation-delay: -1.1s;
}
.loading-dot:nth-child(3) {
  animation-delay: -1s;
}
.sign-title {
  margin-bottom: 1.8rem;
}
.query {
  margin: 10px 0;
}
.addone {
  margin: 10px 0;
}
@keyframes loophide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
input.ng-dirty.ng-invalid { border: 1px solid #ff0000 }
input.ng-dirty.ng-valid { border: 1px solid #6bc502 }
.errorMsg {
  text-align: center;
  margin: 10px 0;
  padding: 10px;
  background-color: #f05050;
  color: #fff;
  font-size: 14px;
}

#wrapper:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

.op-col {
  display: flex;
  align-items: center;
  font-size: 20px !important;
}
.op-col a:not(:first-child) {
  margin-left: 10px;
}
.op {
  padding: 10px 0;
  margin: 10px 0;
  background-color: #fff;
  overflow: hidden;
}

.op .pagesize {
  width: 75px;
}
.op .search {
  width: 150px;
}

.op >div {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.op button, .op input {
  border-radius: 0 !important;
  font-size: 14px;
}
textarea {
  height: 60px !important;
}
textarea[name="content"] {
  height: 300px !important;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.img-wrapper {
  position: relative;
  display: inline-block;
}

.img-wrapper .fa-trash {
  visibility: hidden;
  cursor: pointer;
  transition: all .2s linear;
  font-weight: 700;
  position: absolute;
  opacity: 0;
  right: 0px;
  top: 0px;
}

.img-wrapper:hover .fa-trash {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 527px){
  .img-wrapper .fa-trash {
    opacity: 1;
    visibility: visible;
  }
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.amount > div {
  cursor: pointer;
}
.sidebarLogo {
  height: 40px;
  width: 215px;
  margin-top: 3px;
}
.sidebarProjectName{
    margin-top: 5px;
    color: white;
    font-size: 25px;
    margin-left: 5px;
}
.ng-isolate-scope{
  cursor: pointer;
}
.text-uppercase {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-dark{color:#fff;background-color:#000000;border-color:#000000;}
.btn-dark:focus {
  color:white; background-color:black;
}
.btn-dark:hover {
  color:white; background-color:black;
}
.btn-dark:active {
  color:white;
}
.required{
  color:red;
}
.statusLabel{
  
   white-space: nowrap;
  /* border: 1px solid #000000; */
  width:50%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.statusLabelGray{
  color:black;
   white-space: nowrap;
  /* border: 1px solid #000000; */
  width:90%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}
.searchHeader{
  text-align: right;
}
.gridRow{
  margin-top:-10px;
}
.gridHeader{
  padding:5px 10px;border-bottom: 0 none;;height:43px;
}

.aa:hover {
  transform: scale(1.1);
  transition: all 300ms;
  -webkit-box-shadow: 0 0 5px 5px #cccbcb;
  -moz-box-shadow: 0 0 5px 5px #cccbcb;
  box-shadow: 0 0 5px 5px #cccbcb;
}
.logo-default{
  height:30px;
  width:150px;
  margin-top: 5px;
}
.projectName{
  color: white;
  font-size: 20px;
  margin-top:4px;
  cursor: pointer;
}
.corousel-image{
  margin-left:auto;
  margin-right: auto;
  width:100%;
}
.alert-info{
  width: 100%;
    height: 300px;
    position: absolute;
    color: #00acc1!important;
    background-color: #101010 !important;
    border-color: #bce8f1 !important;
}
.btn-sm:hover { 
  color:white;
}
input[type="file"] {
  display: block !important;
}
@media (max-width: 992px){
  .dataTable_wrapper{
      overflow-x: scroll;
  }
}
